<div class="hero-area">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-lg-8">
				<!-- Breaking News Widget -->
				<%- include('breaking-news-widget') %>

				<!-- Breaking News Widget -->
				<%- include('breaking-news-international-widget') %>
			</div>

			<!-- Hero Add -->
			<%- include('hero-ad') %>
		</div>
	</div>
</div>