<div class="latest-comments-widget">
	<h3>Latest Comments</h3>

	<!-- Single Comments -->
	<%- include('single-comments') %>

	<!-- Single Comments -->
	<%- include('single-comments') %>

	<!-- Single Comments -->
	<%- include('single-comments') %>

	<!-- Single Comments -->
	<%- include('single-comments') %>
</div>