<nav class="classy-navbar justify-content-between" id="newspaperNav">

	<!-- Logo -->
	<%- include('logo') %>

	<!-- Navbar Toggler -->
	<%- include('navbar-toggler') %>

	<!-- Menu -->
	<%- include('menu.ejs') %>
</nav>