<div class="newspaper-main-menu" id="stickyMenu">
	<div class="classy-nav-container breakpoint-off">
		<div class="container">
			<!-- Menu -->
			<%- include('menu-container.ejs') %>
		</div>
	</div>
</div>