<div class="popular-news-widget mb-30">
	<h3>4 Most Popular News</h3>

	<!-- Single Popular Blog -->
	<%- include('single-popular-blog') %>

	<!-- Single Popular Blog -->
	<%- include('single-popular-blog') %>

	<!-- Single Popular Blog -->
	<%- include('single-popular-blog') %>


	<!-- Single Popular Blog -->
	<%- include('single-popular-blog') %>

</div>