<div class="single-popular-post">
	<a href="#">
		<h6><span>1.</span> Amet, consectetur adipiscing elit. Nam eu metus sit amet odio
			sodales.</h6>
	</a>
	<p><%= dateAndTime.format(now, 'MMMM DD, YYYY') %></p>
</div>