
<div class="single-comments d-flex">
	<div class="comments-thumbnail mr-15">
		<img src="img/bg-img/29.jpg" alt="">
	</div>
	<div class="comments-text">
		<a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
		<p><%= dateAndTime.format(now, 'HH:mm A, YYYY') %></p>
	</div>
</div>